body {
  font-family: 'Sintony', sans-serif;
  color: #c0c4c7; }

.btn-solid {
  background-color: #A18BCC;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em; }
  .btn-solid:hover {
    color: #fff; }

.btn-outline {
  color: #c0c4c7;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  border: 2px solid #c0c4c7; }
  .btn-outline:hover {
    color: #fff; }

#landing {
  background-color: #A18BCC;
  color: #fff;
  text-align: center;
  padding: 3em;
  padding-bottom: 0; }
  #landing nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.5em; }
    #landing nav a.active {
      font-weight: bold;
      border-bottom: 2px solid #fff;
      padding-bottom: 0.5em; }
  #landing h1 {
    font-size: 4em;
    margin-top: 2em; }
  #landing p.tagline {
    font-size: 1.3em;
    margin: 1em 0; }
  #landing a.action {
    background-color: #4BD9DD;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    width: 12em;
    padding: 1em; }
  #landing .img-container {
    position: relative; }
    #landing .img-container img {
      margin-top: 5em; }
    #landing .img-container .captions {
      position: absolute;
      bottom: 2em;
      left: 2em;
      text-align: left; }
      #landing .img-container .captions .title {
        font-size: 1.5em;
        margin-bottom: 0;
        font-weight: bold; }
    #landing .img-container .likes {
      position: absolute;
      bottom: 2em;
      right: 1em;
      font-size: 1.8em; }
      #landing .img-container .likes i {
        margin-right: 1em; }
    #landing .img-container .edit {
      position: absolute;
      top: 2em;
      right: 1em;
      font-size: 2em;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.3em; }

#intro {
  text-align: center;
  padding: 2em 0; }
  #intro .get-started {
    background-color: #A18BCC;
    padding: 1em 3em; }
  #intro .demo {
    padding: 1em 3em;
    margin-left: 1em; }
  #intro h2 {
    margin: 2em 0 0.7em; }
  #intro p {
    font-size: 1.2em; }

#features {
  background-color: #f7f7f5;
  padding: 5em 0 14em 0;
  background-image: url("../img/slanted-phone.jpg");
  background-repeat: no-repeat;
  background-position: bottom center; }
  #features .create {
    padding: 1em 3em; }

#take-look {
  text-align: center;
  background-color: #A18BCC;
  padding: 3em 0;
  color: #fff; }
  #take-look .take {
    background-color: #4BD9DD;
    padding: 1em 3em;
    margin-right: 1em;
    margin-top: 2em; }
  #take-look .free {
    border: 2px solid #fff;
    padding: 1em 3em;
    color: #fff;
    margin-top: 2em; }

#video {
  position: relative; }
  #video img {
    width: 100%; }
  #video i {
    position: absolute;
    font-size: 12em;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%); }

#com {
  text-align: center;
  padding: 5em 0;
  color: #c0c4c7;
  background-color: #F7F7F5; }
  #com i {
    font-size: 3em;
    color: #A18BCC; }
  #com a {
    color: #A18BCC;
    font-weight: bold; }

#pricing {
  text-align: center;
  padding: 4em 0; }
  #pricing h2 {
    text-transform: uppercase; }
  #pricing h2, #pricing p.cap {
    color: #A18BCC; }
  #pricing p.cap {
    font-weight: bold;
    margin: 2em; }
  #pricing .price-opt {
    border: 2px solid #c0c4c7;
    border-radius: 15px;
    height: 44em;
    position: relative; }
    #pricing .price-opt h3 {
      background-color: #A18BCC;
      color: #fff;
      margin: 0;
      padding: 0.6em;
      text-transform: uppercase;
      border-radius: 10px 10px 0 0; }
    #pricing .price-opt p.dis {
      font-weight: bold;
      margin: 2em 3em 1em; }
    #pricing .price-opt p.price {
      color: #4BD9DD;
      font-size: 2.7em; }
      #pricing .price-opt p.price span {
        color: #c0c4c7;
        font-size: 0.5em;
        position: relative;
        top: 0.35em;
        font-weight: bold; }
    #pricing .price-opt .reason {
      border-top: 2px solid #e9eaeb;
      padding: 1em;
      margin: 0 2em;
      font-weight: bold; }
    #pricing .price-opt a.signup {
      margin: 0 2em;
      position: absolute;
      bottom: 1em;
      left: 2em;
      right: 3em; }
      #pricing .price-opt a.signupbtn-outline {
        color: #A18BCC;
        background-color: #A18BCC; }
  #pricing .user-count {
    color: #A18BCC;
    margin-top: 1em;
    font-size: 1.2em; }
    #pricing .user-count span {
      font-size: 1.3em;
      font-weight: bold;
      position: relative;
      top: 0.09em; }

/*# sourceMappingURL=styles.css.map */
