#com{
  text-align: center;
  padding: 5em 0;
  color: $dark-color;
  background-color: #F7F7F5;

i{
  font-size: 3em;
  color: $primary-color;

}
a{
  color: $primary-color;
  font-weight: bold;
}

}
