#take-look{
  text-align: center;
  background-color: $primary-color;
  padding: 3em 0;
  color: $light-color;

  .take{
    background-color: $blue;
    padding : 1em 3em;
    margin-right: 1em;
    margin-top: 2em;
  }
  .free{
    border: 2px solid $light-color;
    padding : 1em 3em;
    color: $light-color;
    margin-top: 2em;
  }
}
